<div
	class="body"
	dir="ltr"
	style="direction: ltr; text-align:left;  font-size: 16px; font-family: Roboto, Work Sans, sans-serif; max-width: 550px; background-color: white; color: #20252d;margin: 1% auto; border: 1px solid #d9d9d9; border-radius: .2em; padding: .3em .6em"
>
	<div class="header" style="display: block; clear: both; ">
		<img
			src="https://i.ibb.co/CKX0zyh/sky.png"
			width="213"
			height="57"
			style="display:inline-block; margin-right: 2em;"
		/>
		<span
			style="color: white; background-color: #2e8cb8; display: inline-block; padding: .3em .7em; margin-top: .5em; vertical-align: 90%;"
			>Booking number: <%=record_locator%></span
		>
	</div>
	<div style="clear: both"></div>
	<p>
		Thank you for your reservation. Your ticket number and confirmation will follow within 24 hours
		maximum.
	</p>

	<div style="margin-bottom: .2em;">
		<table>
			<% if(full_name.length === 0) { %>
				<tr>
				<td style="font-weight: bold;">
				 Passenger(s):
				</td>
				<td><%- customer_name %></td>
			</tr>	
			<% } %>

			<% if(full_name.length !== 0) full_name.forEach((item, i) => { %>
			<tr>
				<td style="font-weight: bold;">
					<%- i === 0 ? "Passenger(s):" : ""%>
				</td>
				<td><%- item.replace(/\//g, " ") %></td>
			</tr>
			<% }) %>
		</table>
	</div>

	<!-- flight 2 -->
	<%flights.forEach( (item, i) => {%> <%- `
	<div
		class="flight"
		style="background-color:  #ebf5fa; padding: .5em 0; border: 1px solid transparent; border-radius: .5em; margin: 1em 0.2em"
	>
		<h1 style="font-size: 1.3em; padding-left:.7em; ">Flight ${i + 1 }</h1>

		<div class="details">
			<p style="background-color: #d6ebf5; padding: .5em 0 .5em 2em; margin: 0 auto">
				${item.airline} - ${item.lang_data["flight_number"]} ${item.flight_number}
			</p>
			<p style=" padding: .5em 0 .5em 2em; margin: 0">
				<b style="padding: 0">Departing from: </b>${item.dep_airport}, ${item.dep_location}
			</p>
			<p style="background-color:  #d6ebf5;  padding: .5em 0 .5em 2em; margin: 0">
				<b>Departure date: </b>${item.dep_date} at ${item.dep_time}
			</p>

			<p style=" padding: .5em 0 .5em 2em; margin: 0">
				<b style="padding: 0">Arriving at: </b>${item.arr_airport}, ${item.arr_location}
			</p>
			<p style="background-color:  #d6ebf5;  padding: .5em 0 .5em 2em; margin: 0">
				<b>Arrival date: </b>${item.arr_date} at ${item.arr_time}
			</p>
			<!-- <p style=" padding: .5em 0 .5em 2em; margin: 0">
				<b style="padding: 0">Baggage Allowance: </b>Only hand luggage included
			</p> -->
		</div>
	</div>

	` %> <% }) %>

	<div
		class="airfare"
		style="margin: 1em .2em; border: 2px solid #246d8f;  border-radius: 5px; padding:1em 0 .3em 1em; "
	>
		<table style="width: 100%;">
			<tr style="height: 2.9em; vertical-align: top">
				<td style="font-weight: bold;">Airline Ticket(s)-tax included:</td>
				<td style="width:40%">
					<ul style="list-style: none; margin: 0; padding: 0">
						<li style="margin: 0"><%-gross_curr%> <%-gross_price%></li>
					</ul>
				</td>
			</tr>
			<tr style="height: 3em; vertical-align: top ">
				<td style="font-weight: bold">Airhelp + flight delay compensation:</td>
				<td style="width:40%">0</td>
			</tr>
			<tr style="height: 3em; ">
				<td style="font-weight: bold; padding-top: 1em">Payment made by credit card:</td>
				<td
					style=" border-top: .2em solid black; color: #38c7a3 ;font-size: 1.1em; padding-top: .5em; "
				>
					Total: <%-gross_curr%> <%-gross_price%>
				</td>
				<td style="width: 1em;"></td>
			</tr>
			<tr class="explanation-of-services">
				<td colspan="3" style="color: #96a2b6; font-size: .9em">
					<span style="font-size: 1.1em;">ⓘ</span> You have purchased AirHelp+. In the event that
					one or more of your flights under the booking that is connected to your AirHelp+ purchase
					is disrupted and such disruption entitles you to compensation under air passenger rights
					laws, AirHelp will take care of your claim for compensation without charging its regular
					service fees. <br />If you have experienced a delay, cancellation or other type of flight
					disruption on the flights in this booking, please contact us at
					<a href="mailto:info@airhelp.com" target="_blank">info@airhelp.com</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="buttons" style="width: 100%; margin: 2em auto; ">
		<a
			href="https://viewtrip.sky-tours.com/get.php?orderid=<%-record_locator%>&tname=<%-lname%>"
			target="_blank"
			style="text-decoration: none; cursor: pointer;"
		>
			<button
				style="font-family: inherit; font-size: 1.1em; border:2px solid transparent ;border-radius: .2em; min-width:270px; margin: .5em auto; display: block; padding: .6em 1.1em; color: white; background-color: #d14833; border: none; cursor: pointer;"
			>
				Your Itinerary
			</button>
		</a>

		<a
			href="https://support.sky-tours.com/en"
			target="_blank"
			style="text-decoration: none; cursor: pointer;"
		>
			<button
				style="font-family: inherit;font-size: 1.1em; border:2px solid #d14833 ;border-radius: .2em;  min-width: 270px;  margin: .5em auto; display: block; padding:  .5em 1.1em; background-color: transparent; color: #d14833; cursor: pointer;"
			>
				Frequently Asked Questions
			</button>
		</a>
	</div>

	<div class="ads" style="max-width: 90%; margin: 1em auto">
		<a href="#"
			><img src="https://i.ibb.co/k0pCyr0/deal1.png" style="max-width: 100%; margin-top: 1em"
		/></a>
		<a href="#"
			><img src="https://i.ibb.co/yX1cdDq/deal2.png" style="max-width: 100%;margin-top: 1em "
		/></a>
	</div>
</div>